header,
section {
    display: block;
}

h2,
h6 {
    margin-top: 0;
    margin-bottom: 8px;
}

a {
    color: #695aa6;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #493f75;
    text-decoration: none;
}

p {
    font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1300 - 300)));
    font-weight: 100;
    opacity: 1;
    color: #111;
    letter-spacing: .6px;
}


h2,
h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Baloo Paaji', cursive;
    color: #695aa6;
}

h2 {
    font-size: 2rem;
}

h6 {
    font-size: 1rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center !important;
}

.section {
    padding: 70px 10px;
}

.section .section-subtitle {
    margin-bottom: 6px;
    font-weight: 400;
    opacity: .6;
}

/*  ======================================
               Header Section
    ======================================  */

.header-mini {
    min-height: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    background: #a59cca;
}

.header-item+.header-item {
    padding-left: 0.5rem;
    color: #fff;
}

.header-item+.header-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #fff;
    content: "/";
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 0.25rem;
    color: #695aa6;
    font-weight: 500;
    font-family: 'Baloo Paaji', cursive;
}

/*  ======================================
             End of Header Section
    ======================================  */

/*  =======================================
                Project Section
    ======================================= */            

.project-container{
    overflow-y: auto;
    display: flex;
}    

.portfolio-wrapper {
    flex-wrap: wrap;
    gap: 30px;
    display: flex;
    padding: 26px;
    margin: 20px;
    align-content: center;
    justify-content: center;
}

.portfolio-card {
    border: 1px solid #dee2e6;
    padding: 10px;
    background: #fff;
    height: auto;
    width: 350px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}

.portfolio-card p{
    font-size: 12px;
}

.portfolio-card:hover{
    cursor: pointer;
    background-color: #eaeaea;
}

/* ===============================
       End of Project Section
   =============================== */    

