<!-- Start of Page Header -->
<header class="header-mini">
    <div class="header-content">
        <a class="header-item">Home</a>
        <a class="header-item">Projects</a>
    </div>
</header>
<!--End of Page Header-->

<!-- Start Of Portfolio Section-->
<section class="section">
    <div class="container text-center">
        <p class="section-subtitle">What I Did?</p>
        <h2 class="section-subtitle">My Projects</h2>
        <div class="project-container">
            <div class="portfolio-wrapper">
                <div class="portfolio-card" *ngFor="let project of projects">
                    <h6>{{project.category}}</h6>
                    <h6>Title:</h6>
                    <p>{{project.title}}</p>
                    <h6>Technologies:</h6>
                    <p>{{project.technologies}}</p>
                    <h6>Description:</h6>
                    <p>{{project.description}}</p>
                    <h6>Outcome:</h6>
                    <p>{{project.outcome}}</p>
                    <h6><a href={{project.githubLink}} class="link">Explore the project on GitHub</a></h6>
                </div>
            </div>
        </div>
    </div>
</section>