<!-- Start of Page Header -->
<header class="header-mini">
    <div class="header-content">
        <a class="header-item">Home</a>
        <a class="header-item">About</a>
    </div>
</header>
<!--End of Page Header-->

<!-- Start of About Section-->
<section class="section">
    <div class="container text-center">
        <div class=" about-card">
            <h3>Who am I?</h3>
            <h5 class="mb-3">A Web Designer / Developer Located In Our Lovely Earth</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui deserunt consequatur fugit repellendusillo voluptas?</p>        
            <button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button>
        </div>

        <div class="about-card">
            <h3>Personal Info</h3>
            <ul>
                <li><span>Name and Surname</span> : Mncedisi Masondo</li>
                <li><span>Email</span> : infowebsite.com</li>
                <li><span>Phone</span> : + (27)83 623-7153</li>
                <li><span>Skype</span> : Mncedisi_Masondo</li>
                <li><span>Address</span> :  12345 Fake ST NoWhere AB Country.</li>
            </ul>
        </div>

        <div class="about-card">
            <h3>My Expertise</h3>
        </div>

    </div>
</section>
<!--- End of About Section -->