<!-- Page Header -->
<header class="page-header">
    <h1>About Me</h1>
</header>

<!-- About Section -->
<section class="about">
    <div class="container">
        <!-- Combined About Content -->
        <div class="about-content">
            <h2>Hi, I'm <span class="highlight">Mncedisi Masondo</span></h2>
            <p>{{data?.personal.summary}}</p>
            
            <h3>My Educational Journey</h3>
            <p>{{data?.personal.educational}}</p>
            
            <h3>CodeTribe Academy Experience</h3>
            <p>{{data?.personal.experience}}</p>
            
            <h3>Aspiring Goals</h3>
            <p>{{data?.personal.goals}}</p>
            
            <p>Feel free to explore my portfolio and reach out for collaborations, projects, or job opportunities!</p>
            
            <button type="submit" class="btn">
                <i class="ti-download"></i> Download My CV
            </button>
        </div>

        <!-- About Image (on Right Hand Side) -->
        <div class="about-image">
            <img [src]= "data?.personal.profile" alt="Mncedisi Masondo - Professional Photo">
        </div>
    </div>
</section>
