<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
         <!-- Start of Page Navbar-->
         <nav class="navbar">
            <div class="container">
                <a class="logo" href="#">Masondo</a>
                <ul class="nav">
                    <li class="list-item">
                        <a class="page-link">Home</a>
                    </li>
                    <li class="list-item">
                        <a class="page-link">About</a>
                    </li>
                    <li class="list-item">
                        <a class="page-link">Portfolio</a>
                    </li>
                    <li class="list-item">
                        <a class="page-link">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--End of Page Navbar -->
    </body>
</html>

