<!DOCTYPE html>
<html>
    <head>
        <title>Mncedisi Masondo</title>
    </head>
    <body>

        <!-- Start of Page Header -->
        <header id="home" class="header">
            <div class="overlay"></div>
            <div class="header_content container">
                <h1 class="header_title">
                    <span class="up">HELLO!</span>
                    <span class="down">I am Mncedisi Masondo</span>
                </h1>
                <p class="header_subtitle">SOFRWARE DEVELOPER</p>
                <button class="btn btn-primary">Visit My Work</button>
            </div>
        </header>
        <!--End of Page Header-->

        <!-- Start of About Section-->
         <section class="section pt-0" id="about">
            <div class="container text-center">
                <div class="about">
                    <div class="about-img-holder">
                        <img src="assets/img/Masondo.jpg" alt="">
                    </div>
                    <div class="about-caption">
                        <p class="section-subtitle">Who Am I?</p>
                        <h2 class="section-subtitle mb-3">About Me</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae aliquid ad provident aut
                            fuga animi soluta quae eos non cupiditate voluptates dolorem, doloremque quos dicta quibusdam
                            impedit iure nemo a iste
                            <br>culpa! Quasi quibusdam hic recusandae delectus velit officiis explicabo voluptatibus! Nemo
                            esse similique, voluptates labore distinctio, placeat explicabo facilis molestias, blanditiis
                            culpa iusto voluptatem ratione eligendi a, quia temporibus velit vero ipsa sint ex voluptatum
                            expedita aliquid! Debitis, nam!
                        </p>
                        <button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button>
                    </div>
                </div>
            </div>
         </section>
         <!--- End of About Section -->

         <!-- Start of Service Section-->
         <section class="section">
            <div class="container text-center">
                <p class="section-subtitle">What I Do?</p>
                <h2 class="section-subtitle mb-5">Service</h2>
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="service-card">
                            <div class="body">
                                <img src="../assets/icons/responsive.svg" class="icon">
                                <h6 class="title">Adipising</h6>
                                <p class="subtitle">Labore velit culpa adipisci excepturi consequuntur itaque in nam
                                    molestias dolorem iste quod.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="service-card">
                            <div class="body">
                                <h6 class="title">Iusto</h6>
                                <p class="subtitle">Labore velit culpa adipisci excepturi consequuntur itaque in nam
                                    molestias dolorem iste quod.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="service-card">
                            <div class="body">
                                <h6 class="title">Sapiente</h6>
                                <p class="subtitle">Labore velit culpa adipisci excepturi consequuntur itaque in nam
                                    molestias dolorem iste quod.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="service-card">
                            <div class="body">
                                <h6 class=title>Placeant</h6>
                                <p class="subtitle">Labore velit culpa adipisci excepturi consequuntur itaque in nam
                                    molestias dolorem iste quod.</p>
                            </div>
                        </div>

                    </div>
                </div>



            </div>

         </section>
         <!-- End of Service Section-->

         <!-- Start Of Portfolio Section-->
         <section class="section">
            <div class="container text-center">
                <p class="section-subtitle">What I Did?</p>
                <h2 class="section-subtitle mb-">Portfolio</h2>
            </div>
         </section>
         <!-- End of Portfolio Section-->

         <!--Start of Hire Me Section-->
         <section class="section-sm bg-primary">
            <div class="container text-center text-sm-left">
                <div class="row align-items-center">
                    <div class="col-sm offset-md-1 mb-4 mb-md-0">
                        <h6 class="title text-light">Want to work with me?</h6>
                        <p class="m-0 text-light">Always feel free to Contact & Hire me</p>
                    </div>
                    <div class="col-sm offset-sm-2 offset-md-3">
                        <button class="btn btn-lg _font btn-light rounded">Hire Me</button>
                    </div>
                </div>
            </div>
         </section>
         <!--End of Hire Me Section-->

         <!--Start Of Contact Section -->
         <section class="section">
            <div class="container text-center">
                <p class="section-subtitle">How can you communicate?</p>
                <h2 class="section-subtitle mb-5">Contact Me</h2>
                <form action="" class="col-md-10 col-lg-8 m-auto">
                    <div class="form-row">
                        <div class=" form-group col-sm-12">
                            <input type="text" size="50" class="form-control" placeholder="Your Name" required>
                        </div>
                        <div class="form-group col-sm-12">
                            <input type="email" class="form-control" placeholder="Enter Your Email" required>
                        </div>
                        <div class="form-group col-sm-12">
                            <input type="number" class="form-control" placeholder="Enter Your Cell Phone Number" required>
                        </div>
                        <div class="form-group col-sm-12">
                            <textarea name="comment" id="comment" row="6" class="form-control" 
                            placeholder="Leave Your Message"></textarea>
                        </div>
                        <div class="form-group col-sm-12 mt-3">
                            <input type="submit" value="Send Message" class="btn btn-outline-primary rounded">
                        </div>
                    </div>
                </form>
            </div>
         </section>
         <!--End of Contact Page -->  
    </body>
</html>

