<!DOCTYPE html>
<html>
    <head>
        <title>Mncedisi Masondo</title>
    </head>
    <body>

        <!-- Start of Page Header -->
        <header id="home" class="header">
            <div class="overlay"></div>
            <div class="header_content container">
                <h1 class="header_title">
                    <span class="up">HELLO!</span>
                    <span class="down">I am Mncedisi Masondo</span>
                </h1>
                <p class="header_subtitle">JUNIOR SOFTWARE DEVELOPER</p>
                <button class="btn btn-primary">Visit My Work</button>
            </div>
        </header>
        <!--End of Page Header-->

        <!-- Start of About Section-->
         <section class="section pt-0" id="about">
            <div class="container text-center">
                <div class="about">
                    <div class="about-img-holder">
                        <img src="assets/img/Masondo.jpg" width="320" height="400">
                    </div>
                    <div class="about-caption">
                        <p class="section-subtitle">Who Am I?</p>
                        <h2 class="section-subtitle mb-3">About Me</h2>
                        <p><strong>Hi, I'm Mncedisi Masondo</strong>
                        a recent IT graduate with a passion for software development and problem-solving.Welcome to my portfolio,where I showcase my projects,
                        skills,and experiences.With a strong foundation in computer science and informatics and a keen interest in full-stack development, I'm excited 
                        to bring my skills and enthusiasm to the industry.Proficient in Java, C#, VB, SQL and proficient in Agile development methodologies.
                        <br>I have obtain my Bachelor of Science degree in Information Technology in Computer Science and informatics at University of Johannesburg in April 2022. Relevant coursework includes 
                        Data Structures,Algorithms,Computer Systems,Advance Data Structures,Web Development and Database Management.Projects i have done thus far includes group project where I contributed database 
                        development and personal project,where I develop Waste Collection Management System using SQL Server, C# Web API and C# MVC.My Skills includes 
                        programming languages,which are Java,C#,HTML/CSS and Software Tools which are Git,Visual Studio,Visual Studio Code and SQL Server Management Studio and Eclipse and Technologies which are Restful and Crud APIs,Agile development.
                        Feel free to explore my portfolio and contact me for collaborations,projects or job opportunities!
                        </p>
                        <button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button>
                    </div>
                </div>
            </div>
         </section>
         <!--- End of About Section -->

         <!-- Start Of Portfolio Section-->
         <section class="section">
            <div class="container text-center">
                <p class="section-subtitle">What I Did?</p>
                <h2 class="section-subtitle mb-6">Portfolio</h2>
                <div class="portfolio-wrapper">
                    <div class="portfolio-card">
                        <div class="portfolio-card-body">
                            <h6 class="portfolio-card-title">Project 1 - Group Project</h6>
                            <div class="portfolio-card-list">
                                <h6>Web Development Project - Job Post/Application System</h6>
                                <br>
                                <p>Designed and developed a fully functional Job Application Management</p>
                                <p>System using HTML, CSS, C# and SQL.</p>
                                <br>
                                <p>Features are Authentication and Authorization, Email Notifications,</p>
                                <p>Mobile Optimization, Reporting And Analytics, Company Information,</p>
                                <p>Resume and Cover Letter Upload, Tracking Status,Profile Creation,</p>
                                <p>Application Filtering and Sorting, Job Expiration date, Requirements</p>
                                <p>and Qualifications, Location and Remote Work options, Job Categories</p>
                                <p>and Job Description.</p>
                                <br>
                                <p>Technologies used are HTML, CSS, Java ,C# with SQL Server Database.</p>
                                <br>
                                <p>Outcome of the system is scalability and flexibility, Automated Workflows,</p>
                                <p>Easy Job search, Effective job posting, data driven decision making.</p>
                                <h6><a href="https://github.com/IFMTYP-2020/team36" class="link">Explore the project on GitHub</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-card">
                        <div class="portfolio-card-body1">
                            <h6 class="portfolio-card-title">Project 2 - Personal Project</h6>
                            <div class="portfolio-card-list">
                                <h6>Web Development Project- eWaste Collection Management System</h6>
                                <br>
                                <p>Designed and developed a fully functional eWaste Collection Management</p>
                                <p>System using HTML, CSS, C# and SQL server Database.</p>
                                <br>
                                <p>Features are Authentication and Authorization, Reporting And Analytics,</p>
                                <p>eWaste Collection request, Scheduling and Routing, Customer Profile and/p>
                                <p>Notifcations, Intergration with recycling facilities, Weight and Volume</p>
                                <p>Tracking, Vehicle and driver Management/p>
                                <br>
                                <p>Technologies used are HTML, CSS,C# with SQL Server Database.</p>
                                <br>
                                <p>Outcome of the system is scalability and flexibility, Automated Workflows,</p>
                                <h6><a href="https://github.com/Mncedisi95/Train-Management-System" class="link">Explore the project on GitHub</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-card">
                        <div class="portfolio-card-header">
                            <img class="portfolio-card-icon" src="">
                        </div>
                        <div class="portfolio-card-body2">
                            <h6 class="portfolio-card-title">Project 3 - Group Project</h6>
                            <div class="portfolio-card-list">
                                <h6>Web Development Project - Ecommerce Website</h6>
                                <br>
                                <p>Designed and developed a fully functional Ecommerce Website</p>
                                <p>using HTML, CSS, C# and SQL Server Database.</p>
                                <br>
                                <p>Features are Authentication and Authorization,Reporting And Analytics,</p>
                                <p>Product catalog with Filtering and Sorting,Shopping cart,checkout process</p>
                                <p>Profile creation.</p>
                                <br>    
                                <p>Technologies used are HTML, CSS,C# with SQL Server Database.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
         </section>
         <!-- End of Portfolio Section-->

         <!--Start of Hire Me Section-->
         <section class="section-sm bg-primary">
            <div class="container text-center text-sm-left">
                <div class="row align-items-center">
                    <div class="col-sm offset-md-1 mb-4 mb-md-0">
                        <h6 class="title text-light">Want to work with me?</h6>
                        <p class="m-0 text-light">Always feel free to Contact & Hire me</p>
                    </div>
                    <div class="col-sm offset-sm-2 offset-md-3">
                        <button class="btn btn-lg _font btn-light rounded">Hire Me</button>
                    </div>
                </div>
            </div>
         </section>
         <!--End of Hire Me Section-->

         <!--Start Of Contact Section -->
         <section class="section">
            <div class="container text-center">
                <p class="section-subtitle">Get in Touch?</p>
                <h2 class="section-subtitle mb-5">Contact Me</h2>
                <form action="" class="col-md-10 col-lg-8 m-auto">
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <input type="text" size="10" class="form-control" placeholder="Name" required>
                        </div>
                        <div class="form-group col-sm-12">
                            <input type="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group col-sm-12">
                            <input type="text" class="form-control" placeholder="Subject" required>
                        </div>
                        <div class="form-group col-sm-12">
                            <textarea name="comment" id="comment" cols="30" row="7" class="form-control" 
                            placeholder="Message"></textarea>
                        </div>
                        <div class="form-group col-sm-12 mt-3">
                            <input type="submit" value="Send Message" class="btn btn-outline-primary rounded">
                        </div>
                    </div>
                </form>
            </div>
         </section>
         <!--End of Contact Page -->  
    </body>
</html>

