
html{
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:#212529;
    text-align: left;
    background-color: #fff;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
  
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

._font {
    font-family: 'Baloo Paaji', cursive;
  }

p{
    margin-top: 0;
    margin-bottom: 1rem;
}

a{
    color: #695aa6;
    text-decoration: none;
    background-color: transparent;
}

a:hover{
    color: #493f75;
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
  
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}
  
a:not([href]):not([tabindex]):focus {
    outline: 0;
}

button{
    border-radius: 0;
}

button:focus{
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}


h1, h2, h3, h4, h5, h6,
 .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
 }

 h1, .h1 {
    font-size: 2.5rem;
  }
  
h2, .h2 {
    font-size: 2rem;
}
  
h3, .h3 {
    font-size: 1.75rem;
}
  
h4, .h4 {
    font-size: 1.5rem;
}
  
h5, .h5 {
    font-size: 1.25rem;
}
  
h6, .h6 {
    font-size: 1rem;
}


ul{
    margin-top: 0;
    margin-bottom: 1rem;
}

a{
    color: #695aa6;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #493f75;
    text-decoration: none;
}


.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.1rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
  
@media (prefers-reduced-motion: reduce) {
.btn {
      -webkit-transition: none;
      transition: none;
    }
}
  
.btn:hover {
    color: #212529;
    text-decoration: none;
}
  
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(105, 90, 166, 0.25);
}
  
.btn.disabled, .btn:disabled {
    opacity: 0.65;
}
  
a.btn.disabled,
  fieldset:disabled a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: #695aa6;
    border-color: #695aa6;
}
  
.btn-primary:hover {
    color: #fff;
    background-color: #594c8d;
    border-color: #544885;
}
  
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(128, 115, 179, 0.5);
}
  
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #695aa6;
    border-color: #695aa6;
}
  
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #544885;
    border-color: #4f437d;
}
  
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(128, 115, 179, 0.5);
}

.btn-rounded {
    border-radius: 100px;
}

.btn-outline-primary {
    color: #695aa6;
    border-color: #695aa6;
}
  
.btn-outline-primary:hover {
    color: #fff;
    background-color: #695aa6;
    border-color: #695aa6;
}
  
.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 90, 166, 0.5);
}
  
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #695aa6;
    background-color: transparent;
}
  
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #695aa6;
    border-color: #695aa6;
}
  
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 90, 166, 0.5);
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}
.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:hover {
    color: #fff;
    background-color: #735DA5;
    border-color: #735DA5;
}

.btn-light:focus,
.btn-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-light.disabled,
.btn-light:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
  

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

.rounded {
    border-radius: 4px;
}

textarea {
    overflow: auto;
    resize: vertical;
}

@media (min-width: 992px) {
    .col-lg-3 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 25%;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }
    
        .col-lg-8 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 66.66667%;
            -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
        }
}
@media (min-width: 768px) {
    .col-md-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%;
      }

    .col-md-10 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .offset-md-1 {
        margin-left: 8.33333%;
    }
    .offset-md-3 {
        margin-left: 25%;
    }
}

body {
    min-width: 992px !important;
}

.title {
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1300 - 300)));
}

@media (min-width: 576px) {
    .col-sm {
            -webkit-flex-basis: 0;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
        }
    
        .col-sm-6 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    
        .col-sm-12 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .offset-sm-2 {
            margin-left: 16.66667%;
        }
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  

@media(min-width: 576px){
    .container{
        max-width: 540px;
    }
}

@media(min-width: 768px){
    .container{
        max-width: 720px;
    }
}

@media(min-width: 992px){
    .container{
        max-width: 960px;
    }
}

@media(min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}

.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.custom-navbar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.8rem 1rem;
}

.custom-navbar>.container,
.custom-navbar>.container-fluid {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center ;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
    font-family: "Baloo Paaji", cursive ;

}

@media(prefers-reduced-motion: reduce){
    .navbar{
        -webkit-transition: none;
        transition: none;
    }
}

.navbar .logo {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

.navbar .container{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    .custom-navbar .container {
      -webkit-transition: none;
      transition: none;
    }
  }

.navbar .nav{
    list-style-type: none;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    margin-left: auto;
}  

.navbar .nav .list-item{
    margin: 0 10px;
}

.navbar .nav .list-item .page-link{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.navbar .nav .list-item .page-link:hover, .navbar .nav .list-item .page-link.active {
    color: #695aa6;
}

.navbar.affix {
    background: #fff;
    border-bottom: 1px solid rgba(222, 226, 230, 0.34);
}
  
.navbar.affix .logo {
    color: #695aa6;
}
  
.navbar.affix .container {
    min-height: 65px;
}
  
.navbar.affix .nav .list-item .page-link {
    color: #6c757d;
}
  
.header{
    position: relative;
    height: 100vh;
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items:center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content:center;
    justify-content: center;
    background: #d3c5d3;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center center;
}

.header .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
    background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
}

.header .header_content{
    margin-top: 20px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 550px;
}

.header_title{
    font-size: 2.4rem;
    font-weight: bold;
    opacity: .8;
    color: #212529;
}

.header .header_content .header_title .up{
    font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1300 - 300)));
    font-weight: 500;
    color: #444;
    margin-bottom: 5px;
    position: relative;
    display: block;
}

.header .header_content .header_title .down{
    font-size: calc(30px + (75 - 30) * ((100vw - 300px) / (1300 - 300)));
    margin-bottom: 0;
    position: relative;
    display: block;
}

.header .header_content .header_subtitle{
    font-size: calc(10px + (22 - 10) * ((100vw - 300px) / (1300 - 300)));
    letter-spacing: calc(1px + (7 - 1) * ((100vw - 300px) / (1300 - 300)));
    opacity: .8;
    margin-top: -10px;
    margin-bottom: 20px;
}

.header .header_content .btn{
    position: relative;
    margin-top: 20px;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 1.2rem;
}

/* About */

.about{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
}

.about-img-holder{
    min-width: 400px;
    max-width: 400px;
    margin-right: 20px;

}

.about-img-holder .about-img{
    width: 100px;
    margin-bottom: 15px;
}

.about-caption {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

@media(max-width: 767.98px){
    .about{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    .about-img-holder{
        max-width: 220px;
        min-width: 100%;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
}

/*  Text */

.text-center {
    text-align: center !important;
}

@media (min-width: 576px) {
    .text-sm-left {
      text-align: left !important;
    }
}

.text-light {
    color: #fff !important;
}
  
a.text-light:hover, a.text-light:focus {
    color: #cbd3da !important;
}

.text-left {
    text-align: left !important;
}
  
.text-right {
    text-align: right !important;
}

.bg-primary {
    background-color: #D3C5E5 !important;
}
  
a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #544885 !important;
}


/* Sections */

.section{
    padding: 70px 10px;
}

.section .section-title{
    font-size: calc(20px + (35 - 20) * ((100vw - 300px) / (1300 - 300)));

}

.section .section-subtitle{
    margin-bottom:6px ;
    font-weight: 400;
    opacity: .6;
}

.section-sm {
    padding: 40px 0 !important;
}

.service-card {
    position: relative;
    min-height: 230px;
    border: 1px solid #dee2e6;
    overflow: hidden;
    border-radius: 3px;
}

.service-card .body {
    padding: 10px;
}

.service-card .body img.icon {
    margin-top: 40px;
    width: 55px;
    margin-bottom: 25px;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    .service-card .body img.icon {
        -webkit-transition: none;
        transition: none;
    }
}

.service-card .body .subtitle {
    position: absolute;
    bottom: -100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    .service-card .body .subtitle {
        -webkit-transition: none;
        transition: none;
    }
}

.service-card:hover .body img.icon {
    margin-top: 5px;
    width: 45px;
    margin-bottom: 15px;
}

.service-card:hover .body .subtitle {
    bottom: 7px;
    opacity: 1;
    visibility: visible;
}

  
.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.m-auto {
    margin: auto !important;
}

@media (min-width: 576px) {
    .ml-sm-auto,
    .mx-sm-auto {
        margin-left: auto !important;
    }
}
.title {
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1300 - 300)));
}
  
.title.big {
    font-size: calc(17px + (25 - 17) * ((100vw - 300px) / (1300 - 300)));
}

@media (min-width: 768px) {
    .mb-md-0,
    .my-md-0 {
        margin-bottom: 0 !important;
    }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: rgba(0, 0, 0, 0.01);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        -webkit-transition: none;
        transition: none;
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:focus {
    color: #495057;
    background-color: rgba(0, 0, 0, 0.01);
    border-color: #b4add3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(105, 90, 166, 0.25);
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.form-group {
    margin-bottom: 1rem;
}

@media (min-width: 576px) {
    .form-inline label {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .form-inline .form-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
    }

    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .form-inline .form-control-plaintext {
        display: inline-block;
    }

    .form-inline .input-group,
    .form-inline .custom-select {
        width: auto;
    }

    .form-inline .form-check {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: auto;
        padding-left: 0;
    }

    .form-inline .form-check-input {
        position: relative;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-top: 0;
        margin-right: 0.25rem;
        margin-left: 0;
    }

    .form-inline .custom-control {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .form-inline .custom-control-label {
        margin-bottom: 0;
    }
}


textarea.form-control {
    height: auto;
}
  
.form-row {
    display:-webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-left: 5px;
}


.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}


/* Contact Section */

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: 'Baloo Paaji', cursive;
    color: #695aa6;
}

p {
    font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1300 - 300)));
    font-weight: 100;
    opacity: 1;
    color: #111;
    letter-spacing: .6px;
}


/* Align Items */

.align-items-center {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
     align-items: center !important;
}

.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 70px;
    border-top: 1px solid #dee2e6;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer p,
.footer .social-links {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis:0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.footer a, .footer p {
    color: #393e46;
    padding: 4px 0;
    display: inline-block;
    margin: 0;
}

.footer .social-links {
    margin-left: auto;
}

.footer .social-links a {
    padding: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    border: 2px solid #6c757d;
    color: #6c757d;
}

.footer .social-links a:hover {
    background: #695aa6;
    border-color: #695aa6;
    color: #fff;
    text-decoration: none;
}
  
@media (max-width: 767.98px) {
    .footer {
      padding: 15px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .footer .social-links {
      margin-top: 15px;
    }
}
