<!-- Page Header -->
<header class="page-header">
    <h1>My Services</h1>
</header>

<!-- Service Section -->
<section class="services animated-section" id="services">
    <div class="services-container">
        <div class="services-grid">
            <!-- Services  -->
            <div class="service-card" *ngFor="let list of data.services">
                <i class={{list.icon}}></i>
                <h3>{{list.type}}</h3>
                <p>{{list.description}}</p>
            </div>
        </div>
    </div>
</section>