<!-- Navbar Start -->
<nav class="navbar">
    <!-- Main Container -->
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="#">M Masondo</a>
        <!-- Navigation Menu -->
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" routerLink="/contact">Contact</a>
            </li>
        </ul>
        <!-- Navigation Menu Ends -->
    </div>
    <!-- Main Container Ends -->
</nav>
<!-- Navbar Ends -->