<nav class="navbar">
    <div class="container">
        <a class="logo" href="#">Masondo</a>
        <ul class="nav">
            <li class="list-item">
                <a class="page-link" routerLink="/index">Home</a>
            </li>
            <li class="list-item">
                <a class="page-link" routerLink="/about">About</a>
            </li>
            <li class="list-item">
                <a class="page-link" routerLink="/projects">Projects</a>
            </li>
            <li class="list-item">
                <a  class="page-link" routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
